@import "tailwindcss";

body {
  background: linear-gradient(to bottom, #1B1B1B, #2B2B2B);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #2a2a2a inset !important;
  -webkit-text-fill-color: white !important;
}